h1 {
	text-align: center
}

#game {
	display: flex;
	justify-content: center;
}

.current-move {
	-webkit-filter: url(#saturate);
	-moz-filter: url(#saturate);
	-ms-filter: url(#saturate);
	-o-filter: url(#saturate);
	filter: url(#saturate);
}
