h1 {
	text-align: center
}

#game {
	display: flex;
	justify-content: center;
}

g {
	filter: saturate(75%);
}

.current-move {
	animation: show-move 2s;
}

@keyframes show-move {
	0% {
		filter: saturate(75%);
	}
	50% {
		filter: saturate(15);
	}
	100% {
		filter: saturate(75%);
	}
}