h1 {
	text-align: center
}

#game {
	display: flex;
	justify-content: center;
}

.current-move {
	-webkit-filter: url(#saturate);
	-moz-filter: url(#saturate);
	-ms-filter: url(#saturate);
	-o-filter: url(#saturate);
	filter: url(#saturate);
}

#start-game {
	text-align: center;
	border: 1px solid black;
	width: 300px;
	margin: auto;
}

.hidden {
	display: none;
}